<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>Angular Order History App</title>
    <script src="../vendor/angular.min.js"></script>
    <script src="forms.js"></script>



<body>
    <h1>Angular Forms</h1>
    <div ng-controller="myController" >
      <form id="employeeinfo">
        <label for="employeefirstname">Employee First Name:</label>
        <input type="text" id="employeefirstname" name="employeefirstname" ng-model="employeefirstname"/>

        <label for="employeelastname">Employee Last Name:</label>
        <input type="text" id="employeelastname" name="employeelastname" ng-model="employeelastname"/>

        <label for="idnumber">Employee ID Number:</label>
        <input type="text" id="idnumber" name="idnumber" ng-model="idnumber" />

        <label for="jobtitle">Employee Job Title:</label>
        <input type="text" id="jobtitle" name="jobtitle" ng-model="jobtitle"/>

        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" ng-model="salary"/>

        <input type="submit" ng-click="userClick()" value="Submit Employee" ng-model="submitemployee"/>
      </form>

      <div id="container" ng-repeat="employees in employeesArray">

        <p>
            First Name: {{employeefirstname}}
        </p>
        <p>
            Last Name: {{employeelastname}}
        </p>
        <p>
            Id: {{idnumber}}
        </p>
        <p>
            Title: {{jobtitle}}
        </p>
        <p>
            Employee Info: {{employeeinfo}}
        </p>
        <p>
            Annual Salary: ${{salary}}
        </p>

        <p>
            Monthly Salary: {{salary/12}}
        </p>


      </div>

    </div>

    <div id = "misc">
      <h4></h4>
    </div>
  </body>
</html>
